@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

/* Greeting message */
#greeting {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 90px;
  }

  #dateTime {
    font-size: 16px;
  }

  .quick-options{
      
      margin-left: 5px;
  }

  .before-grid{
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
  }

  /* Main grid container */
  .grid-container {
    max-width: 500px;
    margin:auto; /* centers the grid container horizontally */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
  }
  .grid-container a {
    background: var(--div-color);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--div-font);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
  }
  .grid-container a:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .grid-container a i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
  }

  /* Popup Modal */
  .modal {
    display: block; /* Show modal on page load */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accent-color);
  }
  .modal-content {
    background-color: var(--accent-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
    top: 20%;
  }
  .modal-content h2 {
    margin-top: 0;
  }
  .modal-content p {
    margin: 15px 0;
    line-height: 1.5;
  }
 
  /* Responsive Styles */
  @media (max-width: 768px) {
    .grid-container {
      gap: 5px;
      padding: 20px;
      padding-top: 0;
      scale: .85;
    }
    .grid-container a i {
      font-size: 1.5em;
      margin-bottom: 5px;
    }
    .grid-container a div {
      font-size: 0.9em;
    }
  }
  @media (max-width: 480px) {
    /* header, marquee, #greeting {
      padding: 10px;
    } */
    nav a {
      font-size: 0.8em;
    }
  }


  .watch-list{
    position: relative;
    max-width: 500px;
    width: 80vb;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(from var(--a), var(--primary-color) 0%,
    var(--primary-color) 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 1px solid white;
  }

  @keyframes animate 
{
    0%
    {
        --a: 0deg
    }
    100%
    {
        --a: 360deg
    }
}

.watch-list::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), var(--primary-color) 0%,
  var(--primary-color) 10%, transparent 10%, transparent 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.watch-list::after{
  content: '';
  position: absolute;
  inset: 2px;
  border: 5px solid var(--accent-color);
  background: var(--bg-color);
}


.watch-cover{
  z-index: 10;
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.watch-cover h3{
  width: 100%;
  margin-left: 30px;
}

.hermeneutics{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 1rem 0.5rem;
  border: 1px solid var(--text-color);
  width: 80%;
  cursor: pointer;
}

.hermeneutics a{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-cover i{
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

  .ad-carousel {
    max-width: 500px;
    margin: 2rem auto;
    padding: 0 20px;
    position: relative;
}

.slider-container {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    border: 2px solid var(--text-color);
    
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.ad {
    min-width: 100%;
    min-height: 200px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ad-link {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ad-content {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.space-up{
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Navigation buttons */
.nav-btns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    z-index: 2000;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 20px;
}

/* Dots navigation */
.dots-containers {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: background 0.3s ease;
}

.dots.active {
    background: white;
}

/* Ad backgrounds */
.ad1, .ad2, .ad3{
  background: var(--accent-color);
}

img {
  height: 250px;
  width: 90%;
  overflow: hidden;
}


@media (max-width: 500px) {
  img{
    height: 200px;
    width: 90%;
  }
}

@media (max-width: 450px) {
  img{
    height: 180px;
    width: 100%;
  }
}